form{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: pink;
    border: 10px solid palevioletred;
    text-align: center;   
}

ul{
    padding-left: 0;
    list-style-type: none;
  
}

fieldset{
    padding: 0;
    border-style: none;
  
}

legend{
    padding: 0;
}

input{
    min-height: 1.5rem;
    border: 1px solid;
    border: 0;
    margin-bottom: 7px;
    padding: 4px;
}

.main-content {
    margin: auto;
    max-width: 1240px;
}

button{
    justify-items: center;
    border: 0;
    margin-bottom: 7px;
}

